<!doctype html>
<html>
<head>
     <link rel = "icon" href = "https://drive.google.com/file/d/1iruq_J5LcEWKYpTKdnXhoIcyY8qbYjqH/view?usp=drive_link" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    <div class="hero" >
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="https://github.com/AbuManiyar/nova_innovations"  >
                <img src="{{url_for('static', filename='images/logo2.png')}}" class='logoimage'>
            </a></div>

            <div  class="iconimage"><a href='https://twitter.com'><img src="{{url_for('static', filename='images/twitter.png')}}" class='navicon' >
            </img></a></div>
            <div  class="iconimage"><a href='https://www.linkedin.com/in/abumaniyar/'><img src="{{url_for('static', filename='images/linkdin.webp')}}" class='navicon' >
            </img></a></div>
            <div  class="iconimage"><a href='https://medium.com'><img src="{{url_for('static', filename='images/medium.png')}}" class='navicon' >
            </img></a></div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <a class="btn btn-outline-primary" type="submit" href="#">ContactUs</a>
          </div>

      </nav>
      <div class="content">
{% block main %}
{% endblock main %}
      </div>
    </div>
</body>

</html>
