{% extends 'base.html' %}

{% block main %}
<div>
<br></br>
<br></br>
<br></br>
<div><h1>WE PROVIDE SOLUTION AND EXPIRIENCE</h1> </div>
<div><h1>IN NANO TECHNOLOGY</h1></div>
<div><p>Nano Innovations have permeated numerous sectors, fundamentally transforming industries and addressing challenges in innovative ways. As the field continues to evolve, its impact on society's well-being and technological progress is bound to grow, shaping a future where the tiny world of nanoparticles holds the key to major advancements.</p></div>
<br></br>

<div class="logo_slider">
    <ul>
      <li><a href=""><img src="{{url_for('static', filename="images/l4.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l2.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l6.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l4.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l5.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l6.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l7.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/l8.png")}}"></a></li>
      <li><a href=""><img src="{{url_for('static', filename="images/logo.png")}}"></a></li>
   
    </ul>
  </div>
<p></p>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>



</div>
{% endblock main %}